.header {
  text-align: center;
  padding: 2em 0;
  background-color: #fff;
  position: relative;
}

.header h4 {
  font-weight: 500;
}

.back-button{
  display: flex;
  align-items: center;
  gap: .5em;
  position: absolute;
  top: 2.3em;
  left: 3em;
  background: none;
  border: 0;
  font-size: 1em;
}
.back-button:hover{
  cursor: pointer;
}

.steps {
  font-size: .875em;
}

.services {
  width: fit-content;
  margin: auto;
}

.service-list {
  width: fit-content;
  margin: auto;
  background-color: #fff;
  padding: 1.5em;
  margin-top: 2em;
  -webkit-box-shadow: 0 0 5px #f3f3f3;
  box-shadow: 0 0 5px #f3f3f3;
}


.service-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: .5em;
  border-radius: 4px;
  width: 30em;
  margin-bottom: 1em;
  color: #555;
}

.service-item:last-child{
  margin-bottom: 0;
}

.service-item h3 {
  font-weight: 500;
  font-size: 1em;
  margin-left: 1em;
}

.right-arrow {
  font-size: 1.6em;
  margin-left: auto;
}


.contact{
  background-color: #fff;
  padding: 1.5em;
  margin-top: 2em;
  -webkit-box-shadow: 0 0 5px #f3f3f3;
  box-shadow: 0 0 5px #f3f3f3;
}

.number{
  color: #4a63ff;
  font-weight: 600;
}

.service-page{
  margin-bottom: 10em;
}

.footer{
  background-color: #fff;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}
footer p{
  display: flex;
  align-items: center;
}


.single-service{
  width: fit-content;
  margin: auto;
  background-color: #fff;
  margin-top: 5em;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #f3f3f3;
  box-shadow: 0 0 10px #f3f3f3;
  border-radius: 10px;
}

.ss-text{
  padding-bottom: 1em;
  font-weight: 500;
}